<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Your Email Address</title>
    </head>
    <body>
        <h2>Hello {{ user.username }},</h2>
        <h3>Welcome to Master Class!</h3>

        <p>Please confirm your email address by clicking on the following link:</p>
        <a href="http://127.0.0.1:8000/accounts/confirm-email/{{ uid }}/{{ token }}/">Confirm Email</a>

        <p>If the link didn't open, kindly copy and paste the following link into your browser</p>
        <a href="http://127.0.0.1:8000/accounts/confirm-email/{{ uid }}/{{ token }}">http://{{ domain }}/accounts/confirm-email/{{ uid }}/{{ token }}</a>


        <div>
            Thank you once again for signing up. We look forward to serving you and making your life a little bit easier.

            Best regards,
            
            Edward Prosper
            Founder
            Mastwe Class
            noreply@masterclass.com
        </div>
         
        <p>If you didn't sign up for our site, please ignore this email.</p>

        <p>Best regards,</p>
        <!-- <p>Web Team | Prosper's app</p> -->
    </body>
</html>